<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="background-color: gainsboro; font-size: 11px" th:fragment="boardComment(comments)">
        <span style="padding: 5px; display: flex; flex-direction: row; margin-left: 0.5rem;">
            <textarea name="comment" placeholder="댓글을 입력해 주세요"
                      style="flex-basis: 90%; outline: none; resize: none; font-size: 11px; flex-grow: 1;" >
            </textarea>
            <button type="button" style=" flex-basis: 10%; background-color: white; border-color: #3c3633;
                font-size: 11px; max-width: 50px; min-width: 40px; max-height: 40px; min-height: 42.8px; margin-left: 10px;"
                    th:onclick="insertComment()">
                등록
            </button>
        </span>
        <div id="commentDiv">
            <div th:if="${comments != null}">
                <th:block th:each="comment :${comments}">
                    <hr />
                    <div>
                        <div class="comments" th:id="|comment_${comment.getAnswerId()}|"
                             style="font-size: 11px; padding: 10px; display: flex; flex-direction: column;">
                    <span style="display: flex; flex-direction: row; justify-content: space-between;" th:with="commentDelete = ${@environment.getProperty('server.endpoint')} + '/api/admin/board/update/comment/delete'">
                        <span style="margin-right: 5px;">
                            <span style="font-weight: bold; margin-right: 5px" th:text="${comment.getNickname()}"></span>
                            <span th:text="${comment.getSubmitDate()}"></span>
                        </span>
                        <button type="button" style="padding-right: 5px; font-weight: bold;"
                                th:onclick="requesting.post({path: [[${commentDelete}]], data: {answerId: [[${comment.getAnswerId()}]], contentId: [[${param.contentId}]][0]}, success: deleteCommentSuccess, error: onError})">
                            삭제
                        </button>
                    </span>
                            <span style="word-break: break-all; padding-top: 3px" th:text="${comment.getAnswer()}"></span>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</body>
</html>