<!DOCTYPE html>
<html lang="ko" th:replace="~{main::layout(~{:: galleryUpdate})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="margin-top: 15px" class="updateFirstBlock" th:fragment="galleryUpdate" th:with="contents=${results.get('contents')}">
        <span class="updateHeadTitle">갤러리 게시글 수정</span>
        <form id="galleryUpdateForm" onsubmit="askConfirm('수정')" th:object="${results}">
            <input type="hidden" name="userId" th:value="${contents.get('userId')}"/>
            <input type="hidden" name="postTable" value=1 />
            <span class="aDetail" th:object="${categories}" style="border-top: 2px solid gainsboro;">
                <span class="aDetailName"> 분류* </span>
                <span class="aDetailValue">
                    <select name="categoryId" style="flex-grow: 1; max-width: 200px;" >
                        <option value=null>카테고리 선택</option>
                        <option th:if="${categories} != null"
                                th:each="category : ${categories}"
                                th:value="${category.getCategoryId()}"
                                th:text="${category.getCategoryName()}"
                                th:selected="${contents.get('categoryId') == category.getCategoryId()}">
                        </option>
                    </select>
                </span>
            </span>
            <span class="aDetail">
                <span class="aDetailName"> 제목* </span>
                <span class="aDetailValue">
                    <input required class="grow" placeholder="제목을 입력해 주세요" style=" font-size: 12px; padding: 3px 10px;flex-grow: 1; "
                           th:value="${contents.get('title')}" type="text" name="title" maxlength="99" />
                </span>
            </span>
            <span class="aDetail">
                <span class="aDetailName"> 내용* </span>
                <span class="aDetailValue">
                    <textarea required name="content" maxlength="3999" th:value="${contents.get('content')}"
                              placeholder="내용을 입력해 주세요" style="height: 90px;flex-grow: 1;" class="grow">
                    </textarea>
                    <input type="hidden" th:value="${contents.get('boardId')}" name="boardId"/>
                </span>
            </span>
            <div th:replace="~{admin/global/upload::fileUpload(2, 5, ${results.get('files')})}"></div>
        </form>
        <span class="buttons" th:with="galleryDelete = ${@environment.getProperty('server.endpoint')} + '/admin/gallery/update/update'">
            <input class="ok" type="submit" formenctype="multipart/form-data" form="galleryUpdateForm" formmethod="post"
                   th:formaction="${@environment.getProperty('server.endpoint')} + '/admin/gallery/update/update'" value="수정"/>
            <button class="goBack" type="button" th:onclick="deleteQueryString('/admin/gallery', true, [[${param.contentId}]])">
                목록
            </button>
            <button class="deleteButton" type="button" th:onclick="askConfirm('삭제')?
                    requesting.post({path: [[${galleryDelete}]], data: {'contentId': [[${param.contentId}]], 'userId': [[${contents.get('userId')}]]}, success: deleteSuccess, error: onError})
                    : null">삭제</button>
        </span>
        <script th:inline="javascript">
            function deleteSuccess(val){
                alert("게시글이 삭제 되었습니다.");
                goTo('gallery/update', 'gallery', 'delete', 'contentId', [[${param.contentId}]])
            }
        </script>
    </div>
</body>
</html>